# Dependencies
node_modules

# Build outputs
dist
server/public

# Environment variables & secrets
.env
.env.local
.env.production
.replit
.replitrc
.replit_history

# OS files
.DS_Store
*.tar.gz

# IDE
.vscode
.idea

# Logs
*.log
logs
/tmp

# Vite
vite.config.ts.*

# Database
migrations/*.sql
drizzle

# Temporary files
*.tmp
*.swp